<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= value %></title>
    <!-- my stylesheet -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" />
    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montaga&display=swap"
      rel="stylesheet"
    />

    <!-- javascript -->
    <script
      src="https://kit.fontawesome.com/b30322144e.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/controlsAdmin.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </head>
  <body class="bg-image"
  style="
    background-image: url('/image/dark-theme-19.jpg');
    background-size: 100vw 100vh;
  ">
      <!-- navigation bar -->
   
      <nav class="navbar navbar-inverse bg-dark">
        <div class="container-fluid"></div>
        <a class="nav-link" href="/admin">HOME</a>
        <a class="nav-link" href="/logout" style="color: white;"><i class="fas fa-power-off"></i> Logout</a>
      </nav>
      <div> 
 
        <form <% if (mode == 'stock') { %>
          id="update_product"
        <% } else { %>
          id="update_user"
        <% } %> name="form_add" method="POST">
        <div name="modal_edit">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- Inner of modal -->
                    <section class="text-gray-400 bg-gray-900 body-font relative">
              <div class="container px-4 py-10 mx-auto" style="margin:0 auto;">
                <div class="flex flex-col text-center w-full mb-1">
                  <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Update Fields</p>
                </div>
                <div class="lg:w-full md:w-full mx-auto">
                  <div class="flex flex-wrap m-2">
                    <% if (mode == 'stock') { %>
                        <input type="hidden" id="uniquevalue"/>
                        <input type="hidden" id="product_categoryhidden"/>
                        <div class="p-2 w-full">
                          <div class="relative">
                            <label for="name" class="leading-7 text-sm text-gray-400">Employee ID</label>
                            <input type="text" id="employee_id2" name="employee_id" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                          </div>
                        </div>
                        <div class="p-2 w-1/2">
                          <div class="relative">
                            <label for="brand" class="leading-7 text-sm text-gray-400">First Name</label>
                            <input type="text" id="fname2" name="fname" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                          </div>
                        </div>
                        <div class="p-2 w-1/2">
                          <div class="relative">
                            <label for="model" class="leading-7 text-sm text-gray-400">Last Name</label>
                            <input type="text" id="lname2" name="lname" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                          </div>
                        </div>
                        <div class="p-2 w-1/2">
                          <div class="relative">
                            <label for="category" class="leading-7 text-sm text-gray-400">Install Place</label>
                            <input type="text" id="installation_place2" name="installation_place" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                          </div>
                        </div>
                        <div class="p-2 w-1/2">
                          <div class="relative">
                            <label for="type" class="leading-7 text-sm text-gray-400">Issue Date</label>
                            <input type="text" id="issue_date2" name="issue_date" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                          </div>
                        </div>
                        <div class="p-2 w-full">
                          <div class="relative">
                            <label for="keywords" class="leading-7 text-sm text-gray-400">Status</label>
                            <input type="hidden" id="statusInvenVal" value="" />
                            <!-- <input type="text" id="status2" name="status" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required> -->
                            <a class="btn btn-primary nav-link text-white" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"></a>
                            <ul class="dropdown dropdown-menu dropdown-menu-dark w-full" aria-labelledby="dropdownMenuButton2">
                              <li><a class="dropdown-item text-center" onclick="document.getElementById('dropdownMenuButton2').innerHTML='Inventory';document.getElementById('statusInvenVal').value='Inventory'">Inventory</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item text-center" onclick="document.getElementById('dropdownMenuButton2').innerHTML='In Use';document.getElementById('statusInvenVal').value='In Use'">In Use</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item text-center" onclick="document.getElementById('dropdownMenuButton2').innerHTML='Discarded';document.getElementById('statusInvenVal').value='Discarded'">Discarded</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item text-center" onclick="document.getElementById('dropdownMenuButton2').innerHTML='Repair';document.getElementById('statusInvenVal').value='Repair'">Repair</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="p-2 w-full">
                          <button type="submit" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Update</button>
                        </div>
                      <% } %>
                      <% if (mode == 'db') { %>
                          <input type="hidden" id="uniquevalue"/>
                          <div class="p-2 w-full">
                            <div class="relative">
                              <label for="name" class="leading-7 text-sm text-gray-400">Employee ID</label>
                              <input type="text" id="employee_id" name="employee_id" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                            </div>
                          </div>
                          <div class="p-2 w-1/2">
                            <div class="relative">
                              <label for="brand" class="leading-7 text-sm text-gray-400">First Name</label>
                              <input type="text" id="fname" name="fname" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                            </div>
                          </div>
                          <div class="p-2 w-1/2">
                            <div class="relative">
                              <label for="model" class="leading-7 text-sm text-gray-400">Last Name</label>
                              <input type="text" id="lname" name="lname" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                            </div>
                          </div>
                          <div class="p-2 w-1/2">
                            <div class="relative">
                              <label for="category" class="leading-7 text-sm text-gray-400">Designation</label>
                              <input type="text" id="designation" name="designation" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                            </div>
                          </div>
                          <div class="p-2 w-1/2">
                            <div class="relative">
                              <label for="type" class="leading-7 text-sm text-gray-400">Lab No.</label>
                              <input type="text" id="lab_no" name="lab_no" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                            </div>
                          </div>
                          <div class="p-2 w-full">
                            <div class="relative">
                              <label for="keywords" class="leading-7 text-sm text-gray-400">Email ID</label>
                              <input type="text" id="email_id" name="email_id" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                            </div>
                          </div>
                          <div class="p-2 w-full">
                            <button type="submit" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Update</button>
                          </div>
                        <% } %>
                  
                </div>
              </div>
            </section>
                     
                  </div>
                </div>
              </div>
            </div>    
        </div>
        </form>
        <div name="modal_delete">
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Entry</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- Inner of modal -->
                    <section class="text-gray-400 bg-gray-900 body-font relative">
              <div class="container px-4 py-10 mx-auto">
                <div class="flex flex-col text-center w-full mb-1">
                  <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Delete this particular entry.</p>
                </div>
                <div class="lg:w-full md:w-full mx-auto">
                  <div class="flex flex-wrap m-2">
                    
                   
                    <div class="p-2 w-full">
                        <input type="hidden" id="hiddenvalue"/>
                        <input type="hidden" id="hiddencategory"/>
                      <div class="relative text-center mx-auto">
                        <label for="model" class="leading-7 text-sm text-gray-400">Are you sure you want to delete?</label>
                            <a <% if (mode == 'stock') { %>
                              id="deleteProduct"
                            <% } else { %>
                              id="deleteUser"
                            <% } %>  class="btn btn-primary nav-link text-white" aria-expanded="false">YES</a>
                            <a class="btn btn-danger nav-link text-white" data-bs-dismiss="modal">NO</a>
                        <!-- </div> -->
                    </div>       
                  </div>
                  
                </div>
              </div>
            </section>
                     
                  </div>
                </div>
              </div>
            </div>    
        </div>
        <% if (mode == 'eqreq') { %>
          <div name="modal_requests">
            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Approve/Reject Equipment Request</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- Inner of modal -->
                    <section class="text-gray-400 bg-gray-900 body-font relative">
              <div class="container px-4 py-10 mx-auto">
                <div class="flex flex-col text-center w-full mb-1">
                  <p class="lg:w-2/3 mx-auto leading-relaxed text-base">APPROVE - to approve the request</p>
                  <p class="lg:w-2/3 mx-auto leading-relaxed text-base">REJECT - to reject the request</p>
                </div>
                <div class="lg:w-full md:w-full mx-auto">
                  <div class="flex flex-wrap m-2">
                    
                   
                    <div class="p-2 w-full">
                        <input type="hidden" id="hiddenvalue2"/>
                      <div class="relative text-center mx-auto">
                        <label for="model" class="leading-7 text-sm text-gray-400">Choose either APPROVE or REJECT</label>
                        <!-- <input type="text" id="model" name="model" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"> -->
                        <!-- <div class="dropdown text-white w-full bg-gray-800 bg-opacity-40 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"> -->
                            <a id="submitGrant" class="btn btn-success nav-link text-white" data-bs-dismiss="modal">APPROVE</a>
                            <a id="submitDeny" class="btn btn-danger nav-link text-white" data-bs-dismiss="modal" aria-expanded="false">REJECT</a>
                        <!-- </div> -->
                    </div>       
                  </div>
                  
                </div>
              </div>
            </section>
                     
                  </div>
                </div>
              </div>
            </div>    
        </div>
        <% } %>
        <% if (mode == 'stock') { %>
          <form id="add_product" name="form_add" method="POST">
            <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- Inner of modal -->
                    <section class="text-gray-400 bg-gray-900 body-font relative">
              <div class="container px-4 py-10 mx-auto" style="margin: 0 auto;">
                <div class="flex flex-col text-center w-full mb-1">
                  <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Fill up details of the item.</p>
                </div>
                <div class="lg:w-full md:w-full mx-auto">
                  <div class="flex flex-wrap m-2">
                    <div class="p-2 w-full">
                      <div class="relative">
                        <label for="name" class="leading-7 text-sm text-gray-400">Product ID</label>
                        <input type="text" id="product_id2" name="product_id" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                      </div>
                    </div>
                    <div class="p-2 w-1/2">
                      <div class="relative">
                        <label for="brand" class="leading-7 text-sm text-gray-400">Product Category</label>
                        <input type="text" id="product_category2" name="product_category" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                      </div>
                    </div>
                    <div class="p-2 w-1/2">
                      <div class="relative">
                        <label for="model" class="leading-7 text-sm text-gray-400">Product Type</label>
                        <input type="text" id="product_type2" name="product_type" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                      </div>
                    </div>
                    <div class="p-2 w-1/2">
                      <div class="relative">
                        <label for="category" class="leading-7 text-sm text-gray-400">Brand</label>
                        <input type="text" id="brand2" name="brand" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                      </div>
                    </div>
                    <div class="p-2 w-1/2">
                      <div class="relative">
                        <label for="type" class="leading-7 text-sm text-gray-400">Price</label>
                        <input type="text" id="price2" name="price" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                      </div>
                    </div>
                    <div class="p-2 w-full">
                      <div class="relative">
                        <label for="keywords" class="leading-7 text-sm text-gray-400">Supplier</label>
                        <input type="text" id="supplier2" name="supplier" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                      </div>
                    </div>
                    <div class="p-2 w-1/2">
                      <div class="relative">
                        <label for="color" class="leading-7 text-sm text-gray-400">Purchased Date</label>
                        <input type="text" id="purchase_date2" name="purchase_date" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                      </div>
                    </div>
                    <div class="p-2 w-1/2">
                      <div class="relative">
                        <label for="price" class="leading-7 text-sm text-gray-400">Bill ID</label>
                        <input type="text" id="transaction_id2" name="transaction_id" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                      </div>
                    </div>
                    <div class="p-2 w-full">
                      <button type="submit" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Add Product</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
                     
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>    
            </form>
        <% } %>
          
        <% if (mode == 'db') { %>
          <form id="allow_employee" name="allow_employee" method="POST">
            <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Allow Employee ID</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- Inner of modal -->
                    <section class="text-gray-400 bg-gray-900 body-font relative">
              <div class="container px-4 py-10 mx-auto" style="margin: 0 auto;">
                <div class="flex flex-col text-center w-full mb-1">
                  <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Fill up the details.</p>
                </div>
                <div class="lg:w-full md:w-full mx-auto">
                  <div class="flex flex-wrap m-2">
                    <div class="p-2 w-full">
                      <div class="relative">
                        <label for="name" class="leading-7 text-sm text-gray-400">Employee ID</label>
                        <input type="text" id="employee_id2" placeholder="EMPxxXXXXXXX" name="employee_id" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                      </div>
                    </div>
                    <div class="p-2 w-full">
                      <div class="relative">
                        <label for="brand" class="leading-7 text-sm text-gray-400">Designation</label>
                        <input type="text" id="designation2" placeholder="Admin / Teacher" name="designation" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                      </div>
                    </div>
                    <div class="p-2 w-full">
                      <button type="submit" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Allow Employee</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
                     
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>    
            </form>
        <% } %>

        <header class="bg-white shadow">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold leading-tight text-gray-900 text-center">
                    Admin Panel - <%= value %> 
                </h1>
            </div>
        </header>
        <main>
        <% if (mode != 'eqreq') { %>
          <div class="p-2" style="margin: auto;width: 50%;">
              <div class="col-span-3 sm:col-span-2">
                  <div class="mt-1 flex rounded-md shadow-sm">
                      <span
                          class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-blue-300 text-gray-500 text-sm">
                          <span class="material-icons">
                              search
                          </span>
                      </span>
                      <input type="text" id="search" name="search" placeholder="Filter By Keywords ... "
                          class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                  </div>
              </div>
  
          </div>
        <% } %>

            <div class="mx-auto py-6 sm:px-6 lg:px-8">
                <!-- Replace with your content -->
                <div class="px-4 py-6 sm:px-0">
                  <% if (mode == 'stock') { %>
                    <div><a data-bs-toggle="modal" data-bs-target="#exampleModal4" class=" px-4 py-6 btn btn-primary" style="margin-bottom:20px;">Add Product</a></div>
                  <% } %>
                  <% if (mode == 'db') { %>
                    <div><a data-bs-toggle="modal" data-bs-target="#exampleModal5" class=" px-4 py-6 btn btn-primary" style="margin-bottom:20px;">Add User</a></div>
                  <% } %>
                    <div class="border-4 border-gray-200 rounded-lg h-96 overflow-y-auto overflow-x-hidden">
                        <!-- This example requires Tailwind CSS v2.0+ -->
                        <div class="flex flex-col">
                            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                        <table class="min-w-full divide-y divide-gray-200">
                                            <thead class="bg-gray-50">
                                                <%- tableh %>
                                            </thead>
                                            <tbody class="bg-white divide-y divide-gray-200" id="table-data">
                                      
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /End replace -->
            </div>
        </main>
    </div>
    <input type="hidden" id="modeVal" value="<%= mode %>" />
      
    <!-- body of this page needs to be filled here -->
      
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/controlsAdmin.js"></script>
  <script>
    function dataList(docs) {
      var str='';
      for(var i=0; i < docs.length; i++) {
         str = str + `<%- tableb %> `;
      }
       document.getElementById('table-data').innerHTML=str;
  }
  
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</html>
